$primary-purple: #3b1568;
$primary-yellow: #f5ac4e;
$primary-red: #940700;
$dark-red: #bb280f;
$light-red: #dd4224;
$light-purple: #813cb3;
$primary-font: Helvetica;

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $primary-purple;
  align-items: center;
  font-family: Helvetica, sans-serif;
  color: white;
}
